doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UFarm
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='/main.css')
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='index.html#')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture.html') Horticuture
            li
              a.dropdown-item(href='/poultry.html') Poultry
            li
              a.dropdown-item(href='/dairy.html') Dairy
      form(action="/produce/update/?id="+product._id method="POST") 
            button.btn-1(type='submit') logout        
// farmerOne registration
.myform1
  h3 Approve Form for Product
  form#myFormToRegister(action='/produce/availability/?id='+product._id Method="POST")
    .container.thisForm
      .row.mb-4
        .col
          .form-outline
            label.form-label(for='availability') Availability:
            select(name="availability") 
                option(value="available" selected = product.availability === 'available') available
                option(value="booked" selected = product.availability === 'booked') booked
                option(value="N/A" selected = product.availability === 'N/A') N/A
      .row.mb-4          
       .col
          .fo-signup
            button.btn-1(type='submit') Approved
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
//- script(src='/script.js')
