doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dairy products
  link(type='image/x-icon' rel='icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='/main.css')
 
 
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='index.html#')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture') Horticuture
            li
              a.dropdown-item(href='/poultry') Poultry
            li
              a.dropdown-item(href='/dairy') Dairy
            
      // modal login
      if !currentuser
        .buttonlogin
          a(href='/login')
            button.btn(type='button') Login
        // Button trigger modal
        button.btn(type='button' data-bs-toggle='modal' data-bs-target='#Backdrop')
          | Sign up
        // Modal
        #Backdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                h3(style='color: #000;') Register as:
                button.btn-close.mb-4.pb-4.btn-close-black(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body(style='color: #000;')
                .container
                  .row
                    .col-2
                    .col
                      .navLinks
                        ul
                          li
                            a(href='/AO') Agriculture Officer
                          li
                            a(href='/farmerone') FarmerOne
                          li
                            a(href='/urbanFarmer') Urban farmer
                          li
                            a(href='/public') Normal user
                 
      if currentuser
        form(action="/logout" method="POST") 
              button.btn(type='submit') Logout
    

.fouth-section
  h1.heading
    | Dairy  
    span products
  .container-fluid.sellingItems
    .row.row-cols-2.row-cols-lg-5.g-2.g-lg-3.row2
      if availableproducts.length > 0
        each availableproduct in availableproducts
          if availableproduct.status == "Approved" && availableproduct.category == "dairy"
            .d-flex
              .col
                .top-selling
                  .card.mycard
                    img.card-img-top(src='/'+availableproduct.uploadimage, alt="image" width ='150px' height='150px')
                    .card-body
                      h5.card-title #{availableproduct.productname}
                      h6.card-text
                        | #{availableproduct.availability}
                      h6.card-text #{new Intl.NumberFormat().format(availableproduct.totalamount)} UGX 
                      if !currentuser
                        a.btn.btn-primary(href='/public') Shop with us 
                      if currentuser 
                        a.btn.btn-primary(href='/sales') Shop with us 
footer.footer(id='#foot_last')
  .container-last
    .logo
      a.navbar-brand(href='/home')
        img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='/home')
    .payment-method
      h5 Payment methods
      ul
        li
          a(href='/payment')
            img(src='/images/Payment_-_Airtel-02.png' alt='')
        li
          a(href='/payment')
            img(src='/images/mtn.png' alt='')
        li
          a(href='/payment')
            img(src='/images/money.jpg' alt='')
    .follow-us
      h5 Stay with us on
      ul
        li
          a(href='https://www.facebook.com/profile.php?id=100086467246132')
            img(src='/images/facebook.svg' alt='facebook')
        li
          a(href='https://twitter.com/UfarmMasajja')
            img(src='/images/twitter.svg' alt='twitter')
        li
          a(href='https://www.instagram.com/ufarm_masajja/')
            img(src='/images/square-instagram.svg' alt='square-instagram')
        //
          li>
          <a href="">
          <img src="/images/envelope-solid.svg" alt="email ">
          </a>
          </li><
    .support
      h5 Support
      ul
        li
          a(href='/contact-us') Contact us
        li
          a(href='/how-to-buy') Help
        li
          a(href='/terms-and-conditions') Terms and condition
  .copyright
    article &copycopyright All rights reserved
    article Designed by Ronald Biyinzika
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
