doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UFarm
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel="stylesheet", href="/bootstrap-5.2.0-dist/css/bootstrap.css")
  link(rel='stylesheet' type="text/css" href='/main.css')
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='index.html#')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/index.html' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='about-us.html' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture.html') Horticuture
            li
              a.dropdown-item(href='/poultry.html') Poultry
            li
              a.dropdown-item(href='/dairy.html') Dairy
      // modal login
      .buttonlogin
        button.btn(type='button' data-bs-toggle='modal' data-bs-target='#ModalForm')
          | Log in
      // Button trigger modal
      button.btn(type='button' data-bs-toggle='modal' data-bs-target='#Backdrop')
        | Sign up
      // Modal
      #Backdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3(style='color: #000;') Register as:
              button.btn-close.mb-4.pb-4.btn-close-black(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body(style='color: #000;')
              .container
                .row
                  .col-2
                  .col
                    .navLinks
                      ul
                        li
                          a(href='/AO.html') Agriculture Officer
                        li
                          a(href='/FO.html') FarmerOne
                        li
                          a(href='/urban_farmer_form.html') Urban farmer
                        li
                          a(href='/normaluser.html') Normal user
// SECOND SECTION
.second-section
  .looking-for
    h3
      | Find anything in 
      span.masajja Masajja
  .container-fluid.text-center
    .row
      .col
      .col
        form.d-flex(role='search')
          input.form-control(type='search' placeholder='am looking for' aria-label='Search')
          button.btn.btn-outline-success(type='submit') Search
      .col
// third section
.third-section
  .container-fluid
    .row
      .col
        // carouse
        #carouselExampleControls.carousel.slide.my-carouse(data-bs-ride='carousel')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='/images/p35.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='/images/p37.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='/images/h28.jpg' alt='...')
          button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
      .col.myMarquee
        .card
          .card-header
            marquee.marquee(width='100%' direction='left' height='80px')
              | UFarm a place for all farmers.
          .card-body
            h2.card-text How to buy on UFarm.
            a.btn.btn-primary(href='how-to-buy.html') Click here
      .col
        // second carouse
        #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='/images/p21.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='/images/p19.jpg' alt='...')
            .carousel-item
              img.d-block.w-100(src='/images/p17.jpg' alt='...')
          button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
// fouth section
.fouth-section
  h1.heading
    | latest 
    span products
  .container-fluid.sellingItems
    .row.row-cols-2.row-cols-lg-5.g-2.g-lg-3.row2
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -12%
            a(href='')
              img.card-img-top(src='/images/p17.jpg' alt='...')
            .card-body.mybody
              p.card-text Pigeon
              .price
                | UG 50000 
                span UG 70000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -6%
            a(href='')
              img.card-img-top(src='/images/p19.jpg' alt='...')
            .card-body.mybody
              p.card-text Duck
              .price
                | UG 33000 
                span UG 48000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/h31.jpg' alt='...')
            .card-body.mybody
              p.card-text Brazilian Flowers
              .price
                | UG 1000 
                span UG 120000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/p29.jpg' alt='...')
            .card-body.mybody
              p.card-text Eggs
              .price
                | UG 500 
                span UG 600
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/p29.jpg' alt='...')
            .card-body.mybody
              p.card-text Eggs
              .price
                | UG 500 
                span UG 600
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
.fouth-section
  .container-fluid.sellingItems
    .row.row-cols-2.row-cols-lg-5.g-2.g-lg-3.row2
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -12%
            a(href='')
              img.card-img-top(src='/images/p17.jpg' alt='...')
            .card-body.mybody
              p.card-text Pigeon
              .price
                | UG 50000 
                span UG 70000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -6%
            a(href='')
              img.card-img-top(src='/images/p19.jpg' alt='...')
            .card-body.mybody
              p.card-text Duck
              .price
                | UG 33000 
                span UG 48000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/h31.jpg' alt='...')
            .card-body.mybody
              p.card-text Brazilian Flowers
              .price
                | UG 1000 
                span UG 120000
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/p29.jpg' alt='...')
            .card-body.mybody
              p.card-text Eggs
              .price
                | UG 500 
                span UG 600
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
      .col
        .top-selling
          .card.mycard(style='width: 14rem;')
            span.discount -10%
            a(href='')
              img.card-img-top(src='/images/p29.jpg' alt='...')
            .card-body.mybody
              p.card-text Eggs
              .price
                | UG 500 
                span UG 600
              .my-last-btn
                button.btn.btn-outline-success.thisbutton(type='submit') Add To Cart
// fouth section stops here
// fifth section
// footer
footer.footer(id='#foot_last')
  .container-last
    .logo
      a.navbar-brand(href='index.html#')
        img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    .payment-method
      h5 Payment methods
      ul
        li
          a(href='/payment.html')
            img(src='/images/Payment_-_Airtel-02.png' alt='')
        li
          a(href='/payment.html')
            img(src='/images/mtn.png' alt='')
        li
          a(href='payment.html')
            img(src='/images/money.jpg' alt='')
    .follow-us
      h5 Stay with us on
      ul
        li
          a(href='https://www.facebook.com/profile.php?id=100086467246132')
            img(src='/images/facebook.svg' alt='facebook')
        li
          a(href='https://twitter.com/UfarmMasajja')
            img(src='/images/twitter.svg' alt='twitter')
        li
          a(href='https://www.instagram.com/ufarm_masajja/')
            img(src='/images/square-instagram.svg' alt='square-instagram')
        //
          li>
          <a href="">
          <img src="/images/envelope-solid.svg" alt="email ">
          </a>
          </li><
    .support
      h5 Support
      ul
        li
          a(href='/contact-us.html') Contact us
        li
          a(href='/how-to-buy.html') Help
        li
          a(href='/termsandcondition.html') Terms and condition
  .copyright
    article &amp;copycopyright All rights reserved
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
script(src='/script.js')
