doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title login
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
section.vh-50(style='background-color: #9A616D;')
  .container.py-5.h-100
    .row.d-flex.justify-content-center.align-items-center.h-100
      .col.col-xl-10
        .card(style='border-radius: 1rem;')
          .row.g-0
            .col-md-6.col-lg-5.d-none.d-md-block
              img.img-fluid(src='/images/gardening (1).jpg' alt='login form' style='border-radius: 1rem 0 0 1rem;')
            .col-md-6.col-lg-7.d-flex.align-items-center
              .card-body.p-4.p-lg-5.text-black
                form(action='/login' name='registration' method='POST')
                  .d-flex.align-items-center.mb-3.pb-1
                    img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
                  h5.fw-normal.mb-3.pb-3(style='letter-spacing: 1px;') Login into your account
                  .form-outline.mb-4
                    label.form-label(for='form2Example17') Unique Number/ID
                    input#form2Example17.form-control.form-control-lg(type='text' name='uniquenumber')
                  .form-outline.mb-4
                    label.form-label(for='form2Example27') Password
                    input#form2Example27.form-control.form-control-lg(type='password' name='password')
                  .pt-1.mb-4
                    button.btn.btn-dark.btn-lg.btn-block(type='submit') Login
                  p.mb-5.pb-lg-2(style='color: #393f81;')
                    | Don&apos;t have an account? 
                    a(href='/farmerone' style='color: #393f81;') Register here
                  a.small.text-muted(href='/terms-and-conditions') Terms of use.
                  a.small.text-muted(href='/terms-and-conditions') Privacy policy
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
