doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='stylesheet' href='/dashboard.css')
  title Orders
  link(rel='x-icon' type='image/x-icon' href='/img/images/favicon.ico')
  link(rel="stylesheet", href="/urbafarmer.css")
  link(rel="stylesheet", href="/urbafarmer.css")
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper
    .sidebar-heading.text-center.py-4.primary-text.fs-4.fw-bold.text-uppercase.border-bottom
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    .list-group.list-group-flush.my-3
      a.list-group-item.list-group-item-action.bg-transparent.second-text.active(href='/urban-dashboard')
        i.fas.fa-tachometer-alt.me-2
        | Dashboard
      
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/upload')
        i.fas.fa-chart-line.me-2
        | Upload Products
      
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/producelist')
        i.fas.fa-shopping-cart.me-2
        | Pending Products
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/orders')
        i.fas.fa-shopping-cart.me-2
        | Order form
      a.list-group-item.list-group-item-action.bg-transparent.second-text.fw-bold(href='/approvedproducts')
        i.fas.fa-gift.me-2
        | Approved Products
      //
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
        class="fas fa-comment-dots me-2"></i></a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
        class="fas fa-map-marker-alt me-2"></i></a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
        class="fas fa-power-off me-2"></i></a>
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.py-4.px-4
      .d-flex.align-items-center
        i#menu-toggle.fas.fa-align-left.primary-text.fs-4.me-3
        h2.fs-2.m-0 Dashboard
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle.second-text.fw-bold(href='/urbanfarmerlist' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              i.fas.fa-user.me-2 
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              form(action="/logout" method="POST") 
                 button.btn-1(type='submit') logout
    .container-fluid.px-4
      .row.g-3.my-2
        .col-md-3
          .p-3.bg-white.shadow-sm.d-flex.justify-content-around.align-items-center.rounded
            div
              a(href='/upload') Upload Product
        .col-md-3
          .p-3.bg-white.shadow-sm.d-flex.justify-content-around.align-items-center.rounded
            div
              a(href='/producelist') Pending products  
    // farmerOne registration
    .myform1
      h3 Order form
      form#myFormToRegister(action='/orders' Method="POST")
        .container.thisForm
          .row.mb-4
            .col
              #error1.form-outline
                label.form-label(for='form3Example1') Full Name:
                input#fullname.fullname(type='text' name='fullname')
                small.error
            .col
              #error10.form-outline
                label.form-label(for='form3Example1') Product category:
                select#category.category(name='category')
                  option(value='' id='') Select category
                  option#horticulture(value='horticulture') Horticuture
                  option#dairy(value='dairy') Dairy
                  option#poultry(value='poultry') Poultry
            .col
              #error3.form-outline
                label.form-label(for='form3Example1') Product Name:
                input#productname.productname(type='text' name='productname')
                small.error
          .row.mb-4
            .col-4
              #error6.form-outline
                label.form-label(for='totalamount') Total Amount:
                input#totalamount(type='text' name='totalamount')
                small.error
            .col-4
              #error7.form-outline
                label.form-label Delivery Address:
                input#adddress.adddress(type='text' name='adddress')
                small.error
            .col-4
                #error7.form-outline
                    label.form-label Division/city:
                    input#division.division(type='text' name='division')
                    small.error
          .row.mb-4
            .col-4
              #error7.form-outline
                label.form-label(for='date') Date of Purchase:
                input#dateofpurchase.dateofpurchase(type='date' name='dateofpurchase')
                small.error
            .col
              #error15.form-outline.form-o
                label Mode of payment:
                select#Modeofpayment.Modeofpayment(name='modeofpayment')
                  option(value='') Select mode of payment
                  option(value='mobile money') Mobile Money
                  option(value='cash on delivery') Cash on Delivery
            .col
              #error15.form-outline.form-o
                label(for='DeliveryMethod') Delivery Method:
                select#gender.DeliveryMethod(name='deliveryMethod')
                  option(value='pick up') Pick Up
                  option(value=' Home Delivery') Home Delivery
          .row.mb-4
            .col
              #error15.form-outline.form-o
                label Email:
                input(type="text" name="email")
            .col
              #error15.form-outline.form-o
                label Phone Number
                input(type="text" name="telephone") 
          .row.mb-4
            .col
              .fo-signup
                button.btn-1(type='submit') Order

script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js')
script.
  var el = document.getElementById("wrapper");
  var toggleButton = document.getElementById("menu-toggle");
  toggleButton.onclick = function () {
  el.classList.toggle("toggled");
  };
