doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title payment
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='/main.css')
  style.
    .payment-section h1{
    color: #3db83a;
    font-weight: 800;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid pink;
    }
    .payment-section .how-to-pay h4{
    text-align: left;
    font-weight: 400;
    padding: 2px 0 3px 1;
    color: gray;
    font-size: 20px;
    }
    .payment-section .how-to-pay img{
    padding: 5px 0px 2px 1rem;
    }
    .payment-section .how-to-pay h6{
    font-size: 17px;
    color: #3db83a;
    text-align: left;
    padding: 3px 0px 7px 1px;
    font-weight: 500;
    }
    .payment-section .how-to-pay .text p{
    text-align: left;
    font-weight: lighter;
    font-size: 12px;
    color: grey;
    }
    .how-to-pay{
    border-right: 1px solid #3db83a;
    }
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='/home')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture') Horticuture
            li
              a.dropdown-item(href='/poultry') Poultry
            li
              a.dropdown-item(href='/dairy') Dairy
      // modal login
      .buttonlogin
        a(href='/login')
          button.btn(type='button') Login
      // Button trigger modal
      button.btn(type='button' data-bs-toggle='modal' data-bs-target='#Backdrop')
        | Sign up
      // Modal
      #Backdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3(style='color: #000;') Register as:
              button.btn-close.mb-4.pb-4.btn-close-black(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body(style='color: #000;')
              .container
                .row
                  .col-2
                  .col
                    .navLinks
                      ul
                        li
                          a(href='/AO') Agriculture Officer
                        li
                          a(href='/farmerone') FarmerOne
                        li
                          a(href='/urbanFarmer') Urban farmer
                        li
                          a(href='/public') Normal user
// carouse starts here
.container
  .row
    .col
    .col
    .col
// carouse section stops here
// payment methods section start here
.payment-section
  h1 How to pay
  .container
    .row
      .col
        .how-to-pay
          h4
            | Cash on delivery
            img(src='/images/money.jpg' alt='')
            .text
              h6 pay cash when goods are delivered
              p 1. No risk here, unlike at the store.
              p 2. You didn&apos;t like what you got, do you? Free return is offered.
      .col
        .how-to-pay
          h4
            | MTN Mobile money
            img(src='/images/mtn.png' alt='')
            .text
              h6 Secure and quick
              p 1. Easy, quick, and secure payments.
              p 2. Make a payment with your Mobile Money account!
      .col
        .how-to-pay
          h4 Airtel Mobile money
          img(src='/images/Payment_-_Airtel-02.png' alt='')
          .text
            h6 Secure and quick
            p 1. Easy, quick, and secure payments.
            p 2. Make a payment with your Mobile Money account!
// payment methods section stops here
// footer
footer.footer(id='#foot_last')
  .container-last
    .logo
      a.navbar-brand(href='index.html#')
        img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    .payment-method
      h5 Payment methods
      ul
        li
          a(href='/payment')
            img(src='/images/Payment_-_Airtel-02.png' alt='')
        li
          a(href='/payment')
            img(src='/images/mtn.png' alt='')
        li
          a(href='payment')
            img(src='/images/money.jpg' alt='')
    .follow-us
      h5 Stay with us on
      ul
        li
          a(href='https://www.facebook.com/profile.php?id=100086467246132')
            img(src='/images/facebook.svg' alt='facebook')
        li
          a(href='https://twitter.com/UfarmMasajja')
            img(src='/images/twitter.svg' alt='twitter')
        li
          a(href='https://www.instagram.com/ufarm_masajja/')
            img(src='/images/square-instagram.svg' alt='square-instagram')
        //
          <li>
          <a href="">
          <img src="/images/envelope-solid.svg" alt="email ">
          </a>
          </li>
    .support
      h5 Support
      ul
        li
          a(href='/contact-us') Contact us
        li
          a(href='/how-to-buy') Help
        li
          a(href='/terms-and-conditions') Terms and condition
  .copyright
    article &amp;copycopyright All rights reserved
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
