doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UFarm
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='main.css')
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='index.html#')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture.html') Horticuture
            li
              a.dropdown-item(href='/poultry.html') Poultry
            li
              a.dropdown-item(href='/dairy.html') Dairy
      form(action="/produce/update/?id="+product._id method="POST") 
            button.btn-1(type='submit') logout        
// farmerOne registration
.myform1
  h3 Update Product
  form#myFormToRegister(action='/produce/update/?id='+product._id Method="POST")
    .container.thisForm
      .row.mb-4
        .col
          #error1.form-outline
            label.form-label(for='form3Example1') Product Name:
            input#productname.productname(type='text' name='productname' value=product.productname)
            small.error
        .col
          #error3.form-outline
            label.form-label(for='form3Example1') Product Price:
            input#productprice.productprice(type='text' placeholder='Ugx' name='productprice' value=product.productprice)
            small.error
      .row.mb-4
        .col
          #error15.form-outline.form-o
            label Mode of payment:
            select#Modeofpayment.Modeofpayment(name='modeofpayment')
              option(value='mobile' selected = product.modeofpayment === "mobile") Mobile Money
              option(value='cash'  selected = product.modeofpayment === "cash") Cash on Delivery
        .col
          #error15.form-outline.form-o
            label(for='DeliveryMethod') Delivery Method:
            select#gender.DeliveryMethod(name='deliveryMethod')
              option(value='pickup'  selected = product.deliveryMethod === "pickup") Pick Up
              option(value='delivery' selected = product.deliveryMethod === "delivery") Home Delivery
        .col
          #error15.form-outline.form-o
            label Produce Type:
            select#producetype.producetype(name='producetype')
              option(value='organic' selected = product.producetype === "organic") Organic
              option(value='nonorganic' selected = product.producetype === "nonorganic") Non Organic
      .row.mb-4
        .col
          .fo-signup
            button.btn-1(type='submit') Update
        .col
        .col-2
          .fo-signup
            button.btn-1(type='submit') Delete
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
//- script(src='/script.js')
