doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Terms and conditions
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='/main.css')
  style.
    .content-for-terms{
    padding: 10px;
    margin: 1rem 1rem;
    background-color: #fff;
    color: #3d3c3c;
    /* border: 1px solid #f0f0f0; */
    box-shadow: 5px 5px 5px 5p rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    }
    .content-for-terms h3{
    color: #000;
    font-weight: 500;
    padding: 10px; margin-bottom: 10px;
    }
    .content-for-terms h4{
    color: #000;
    font-weight: 500;
    padding: 10px; margin-bottom: 10px;
    }
    .content-for-terms h6{
    font-size: 14px;
    text-align: left;
    text-transform: lowercase;
    }
    .content-for-terms h1{
    margin: 1rem;
    font-weight: 700;
    }
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='/home')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture.html') Horticuture
            li
              a.dropdown-item(href='/poultry.html') Poultry
            li
              a.dropdown-item(href='/dairy.html') Dairy
      // modal login
      .buttonlogin
        a(href='/login')
          button.btn(type='button') Login
      // Button trigger modal
      button.btn(type='button' data-bs-toggle='modal' data-bs-target='#Backdrop')
        | Sign up
      // Modal
      #Backdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3(style='color: #000;') Register as:
              button.btn-close.mb-4.pb-4.btn-close-black(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body(style='color: #000;')
              .container
                .row
                  .col-2
                  .col
                    .navLinks
                      ul
                        li
                          a(href='/AO') Agriculture Officer
                        li
                          a(href='/farmerone') FarmerOne
                        li
                          a(href='/urbanFarmer') Urban farmer
                        li
                          a(href='/public') Normal user
.container
  .row
    .col
      .content-for-terms
        h3 TERMS AND USE
        h4 ASSENT TO THE TERMS
        h6
          | 1. A legally valid and enforceable agreement between you and ufarm Online Limited (collectively, the &quot;Administrator,&quot; &quot;we,&quot; or &quot;us&quot;) is created by these Terms of Use (the &quot;Terms&quot;). Please carefully read these terms.
        h6
          | 2. These Terms govern your access to and use of the Ufarm website, and any services, material, or data made accessible through them (collectively, the &quot;Service&quot; or the &quot;Platform&quot;).
        h6
          | 3. Do not access or use the Service if you disagree with any portion of these Terms or if you are not eligible or permitted to be bound by the Terms.
        h6
          | 4. Please also review our Privacy Policy . The terms of the Privacy Policy and other supplemental terms, rules, policies,
          | or documents that may be posted on the Platform from time to time are hereby expressly
          | incorporated herein by reference. We reserve the right, in our sole discretion, to make changes
          | or modifications to these Terms at any time and for any reason with or without prior notice.
        h1 Disclaimer
        h6
          | 1. You are urged to inspect the goods before making a purchase and to ask the seller for documentation attesting to their compliance with all applicable laws, regulations, rules, guidelines, and standards.
        h6
          | 2. YOU AGREE THAT YOU ALONE ARE RESPONSIBLE FOR YOUR SAFETY AND THAT YOU SHOULD ONLY MEET WITH OTHER PEOPLE TO COMPLETE A TRANSACTION IN SAFE PUBLIC PLACES DURING THE DAY. YOUR SOLE RESPONSIBILITY
          | IS TO PERFORM DUE DILIGENCE ON ANYONE OR ANY ORGANIZATION THAT REQUESTS A MEETING TO CONDUCT A JOB INTERVIEW OR TO
          | COMPLETE A TRANSACTION. ADMINISTRATOR DISCLAIMS ALL LIABILITY FOR USER&apos;S CONTACT WITH ANY PERSON OR ENTITY.
        h6
          | 3. ALL SERVICES PROVIDED BY THE ADMINISTRATOR ARE PROVIDED &quot;AS IS,&quot; &quot;AS AVAILABLE,&quot; AND &quot;WITH ALL FAULTS,&quot; AND THE
          | ADMINISTRATOR DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY GUARANTIES RELATING TO CONDITION, QUALITY, LIFE DURATION,
          | PERFORMANCE, ACCURACY, RELIABILITY, COM WE HEREBY DISCLAIMS ALL SUCH WARRANTIES AND LIABILITIES.
// footer
footer.footer(id='#foot_last')
  .container-last
    .logo
      a.navbar-brand(href='/home')
        img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    .payment-method
      h5 Payment methods
      ul
        li
          a(href='/payment')
            img(src='/images/Payment_-_Airtel-02.png' alt='')
        li
          a(href='/payment')
            img(src='/images/mtn.png' alt='')
        li
          a(href='payment')
            img(src='/images/money.jpg' alt='')
    .follow-us
      h5 Stay with us on
      ul
        li
          a(href='https://www.facebook.com/profile.php?id=100086467246132')
            img(src='/images/facebook.svg' alt='facebook')
        li
          a(href='https://twitter.com/UfarmMasajja')
            img(src='/images/twitter.svg' alt='twitter')
        li
          a(href='https://www.instagram.com/ufarm_masajja/')
            img(src='/images/square-instagram.svg' alt='square-instagram')
        //
          li>
          <a href="">
          <img src="/images/envelope-solid.svg" alt="email ">
          </a>
          </li><
    .support
      h5 Support
      ul
        li
          a(href='/contact-us') Contact us
        li
          a(href='/how-to-buy') Help
        li
          a(href='/terms-and-conditions') Terms and condition
  .copyright
    article &amp;copycopyright All rights reserved
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
