doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UFarm
  link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
  link(rel='stylesheet' href='/bootstrap-5.2.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='main.css')
// nav bar
nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='index.html#')
      img(src='/images/onlinelogomaker-091022-1346-6665.png' alt='')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/home' style='color: #fff;') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='/about-us' style='color: #fff;') About us
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Categories
          ul.dropdown-menu
            li
              a.dropdown-item(href='/horticulture') Horticuture
            li
              a.dropdown-item(href='/poultry') Poultry
            li
              a.dropdown-item(href='/dairy') Dairy
      form(action="/logout" method="POST") 
            button.btn-1(type='submit') logout        
// farmerOne registration
.myform1
  h3 Urban farmer Upload
  form#myFormToRegister(action='/upload' Method="POST" enctype="multipart/form-data")
    .container.thisForm
      .row.mb-4
        .col
          #error1.form-outline
            label.form-label(for='form3Example1') Product Name:
            input#productname.productname(type='text' name='productname')
            small.error
        .col
          #error10.form-outline
            label.form-label(for='form3Example1') Product category:
            select#category.category(name='category')
              option(value='' id='') Select category
              option#horticulture(value='horticulture') Horticuture
              option#dairy(value='dairy') Dairy
              option#poultry(value='poultry') Poultry
        .col
          #error3.form-outline
            label.form-label(for='form3Example1') Unit Price(ugx):
            input#productprice.productprice(type='text' placeholder='Ugx' name='unitprice')
            small.error
      .row.mb-4
        .col-4
          #error7.form-outline
            label.form-label(for='qauntity') Qauntity:
            input#location.location(type='text' name='qauntity')
            small.error
        .col-4
          #error6.form-outline
            label.form-label(for='farmerid') Farmer ID:
            select#farmerid(type='text' name='farmerid')

                  each urbanFarmer in urbanFarmers
                    option(value = urbanFarmer._id) #{urbanFarmer.uniquenumber}
            small.error
        .col-4
          #error7.form-outline
            label.form-label(for='date') Date:
            input#dateofupload.dateofupload(type='date' name='dateofupload')
            small.error
      .row.mb-4
        .col
          #error8.form-outline
            label.form-label(for='uploadimage') select image of the product:
            input#uploadimage.uploadimage(type='file' name='uploadimage')
            small.error
        .col
          #error14.form-outline
            label.form-label(for='fullname') Name:
            select#fullname(type='text' name='fullname')
              if urbanFarmers.length 
                  each urbanFarmer in urbanFarmers
                    option(value = urbanFarmer._id) #{urbanFarmer.firstname +" " + urbanFarmer.secondname}
            small.error
        .col-4
          #error16.form-outline.form-o
            label(for='ward') Ward:
            select#my_ward.values-for-wards(name='ward')
                  each urbanFarmer in urbanFarmers
                    option(value = urbanFarmer._id) #{urbanFarmer.ward}
            small.error 
      .row.mb-4
        .col
          #error15.form-outline.form-o
            label Mode of payment:
            select#Modeofpayment.Modeofpayment(name='modeofpayment')
              option(value='') Select mode of payment
              option(value='mobile') Mobile Money
              option(value='cash') Cash on Delivery
        .col
          #error15.form-outline.form-o
            label(for='DeliveryMethod') Delivery Method:
            select#gender.DeliveryMethod(name='deliveryMethod')
              option(value='pickup') Pick Up
              option(value='delivery') Home Delivery
        .col
          #error15.form-outline.form-o
            label Produce Type:
            select#producetype.producetype(name='producetype')
              option(value='organic') Organic
              option(value='nonorganic') Non Organic
      .row.mb-4
        .col
          .fo-signup
            button.btn-1(type='submit') Upload
        .col
script(src='/bootstrap-5.2.0-dist/js/bootstrap.bundle.js')
//- script(src='/script.js')
