*{
    margin: opx;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
     border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
  }

  :root{
    /* --pink:#e84393; */
    --pink:#12bbeb;
    /* --green:#3db83a; */
    --green:#2e0219;
    --pelette1:#4a001f
}


  .navbar-nav li a{
    color: #fff;
  }


  .navbar{
    background-color:var(--green);
    color: #fff;
}

.navbar .navbar-nav li a{
    color: #fff;
    background-color:var(--green) ;
}

  .buttonlogin{
    padding: 10px;
  }

  .btn{
    color: #fff;
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 15%;
  }

  .btn:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  /* model */

.modal-content {
  width: 80%;
  margin: 0 auto;
}
.modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}
h1 {
  font-size: 2.3em;
  font-weight: bold;
}
.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  @media (max-width: 576px) {
    max-width: 90%;
    margin: 0 auto;
  }
}
.form-control:focus {
  box-shadow: inset 0 -1px 0 #7e7e7e;
}
.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}
.myform .btn-11 {
  width: 100%;
  font-weight: 800;
  background-color: #fff;
  border-radius: 0;
  padding: 0.5em 0;
}
.myform .btn-11:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}
p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}
p a {
  color: #e1e1e1;
  text-decoration: none;
}
p a:hover {
  color: #fff;
}

.btn-dark{
  padding-left: 5px;
}


/* .container{
  width: 40%;
  color: #000;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow:0 2px 5px rgba(0,0,0, 0.3);
  width: 800px;
  background-image: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url(/images/poultry5.jpg); */
/* } */

.navLinks ul li{
  list-style: none;
  padding: 10px;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--green);
  font-weight: 800;
}

.navLinks ul li a:hover{
  color: var(--pink);
  border-bottom: 1px solid #fff;
}

.myform1{
  background: linear-gradient(136deg, hsla(340, 97%, 67%, 0.65), hsla(230,96%, 62%,0.65)),
           url('/images/img-1.jpg');
           
}
.myform1 h3{
  font-size: 20px;
  margin: 0px auto;
  padding: 10px auto;
  text-align: center;
  color: #fff;
  font-weight: bold;

}
.thisForm{
  margin-top: 8px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.3);
  width: 1000px;
}
.ao-form{
  width: 800px;
}
.mb-5{
  margin-bottom: 10px;
}
.thisForm h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
.firstLinks a{
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  font-weight: 800;
}
.allLinks{
  margin: 0px 20px 1px 30px;
  padding: 0px 50px 2px 50px;
}
.form-outline{
  margin-bottom: 1px;
}

.form-outline label {
  display: block;
  color: #777;
  margin-bottom: 5px;
}



.form-outline select{
  border: solid 2px #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
  width: 100%;
}
.radio{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
  
}
.form-outline select option{
  padding: 10px;
}
.form-outline input{
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  color: #000;
  padding: 8px;
}

.form-outline:focus{
 outline: none;
}

.btn-1{
  background-color: var(--pink);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
}

.error{
  color: red;
  font-size: 9px;
  margin-top: -4px;
}

/* registration stops here */

/* second section starts here */
  .second-section{
    background-image: url(/images/poultry6.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
  }
.myform{
  background-color: #000;
}
 
  .second-section .looking-for{
    text-align: center;
    color: #fff;
    line-height: 5px;
    z-index: 999;
  }

  .looking-for{
    padding-top: 15px;
  }

  .masajja{
    color:var(--pink) ;
    font-weight: bold;
   
  }

  input{
    outline: #fff;
  }
  .form-control::placeholder {
    color: white;
    opacity: 1;
}

  .third-section{
    padding-top: 6px 0px;

  }
  
  .marquee{
    color: #fff;
    font-size: 26px;
    background-image: url(/images/p30.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
  }



.third-section{
    padding: 10px 0px;
    background-color: rgba(233, 25, 129, 0.05);;
    border: 4px solid #fff;
}

/* fouth section starts here */
.fouth-section{
    margin: 1rem 4rem;
    padding: 18px 10px;
    /* border: 1px solid rgb(252, 249, 249); */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
    
}

.fouth-section h1{
  text-align: center;
  padding-bottom: 2rem;
    color: #000;
    font-size: 40px;;
    font-weight: bolder;
}
.heading span{
  color:var(--pink);
}

.top-selling{
  transition: 1s;
}

.top-selling:hover{
  transform: scale(1.05);
 /* z-index: 2; */
}

.mycard:hover{
  border: 1px solid rgb(252, 249, 249);
 background-color: #fff;
 border-radius: 5px;
 box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
}
ul li{
  display: inline-block;
}
.top-selling img{
    width: 10px;
    /* padding-top: -1rem; */

}


 /* .discount{ */
  /* position: absolute; */
  /* top:1rem; left:1rem; */
  /* padding:.4rem 0.5rem;
  font-size: 1rem;
  color:var(--pink);
  background:rgba(255, 51, 153,.05);
  z-index: 1;
  border-radius: .1rem; */
 /* } */

.price{
  font-size: 1rem;
  color:var(--pink);
  font-weight: bolder;
  /* padding-top: 1rem; */
}

 .price span{
  font-size: 0.8rem;
  color:#999;
  font-weight: lighter;
  text-decoration: line-through;
}

.mybody{
  height: 180px;
  margin-top: -3rem;
  text-align: center;
  color: #fff;
}
.mycard img{
  height: 170px;
  width: 100%;
}
.mybody p{
  color: grey;
}

.mybody p{
  color: #000;
}
.my-last-btn{
  padding: 10px 0px;
}
.thisbutton{
  padding: 5px 10px;
  border-radius: 10px;
}

/* footer styling*/
.container-last{
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
}

.footer{
  background-color: #282828;
  color: grey;
  padding: 2rem;
  /* height: 50vh; */
}
.footer .container-last{
  padding: 5px 0px 0px 0px;
  margin: 5px 0px 0px 0px;

}
.container-last .logo{
  padding-top: 3rem;
}

.payment-method h5{
  color: grey;
  text-align: center;

}

.payment-method ul li{
  list-style: none;
  padding: 15px;

}

.payment-method ul li a{
  text-decoration: none;
}

.payment-method ul li a img{
  max-width: 35px;
  max-height: 35px;
}

.payment-method ul li a img:hover{
  background-color: rgb(252, 255, 255);
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #fff !important;
  border-radius: 50%;
  
}

.follow-us h5{
  color: grey;
  text-align: center;
}

.follow-us ul li{
  list-style: none;
  padding: 10px;
 
}

.follow-us ul li a{
  text-decoration: none;
  color: #16dd12;
  
}
.follow-us ul li a img{
  filter: opacity(0.4) drop-shadow(0 0 0 #fff);
  width: 30px;
  height: 30px;
}
.follow-us ul li a img:hover{
  background-color: rgb(252, 255, 255);
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #fff !important;
  border-radius: 50%;
  
}

.support h5{
  color: grey;
  /* text-align: center; */
  margin-left: 2em;
}

.support ul li{
  list-style: none;
  padding: 15px;
}

.support ul li a{
  text-decoration: none;
  color: grey;
}
.support a:hover{
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #fff;
}

.copyright{
  text-align: center;
  margin: 10px 0px 3px 0px;
  padding-top: 0.5rem;
  border-top: 1px solid grey;
}

/*  */

  /* medi query */

  @media (max-width:991px){
    
   
    

} 

  @media (max-width:768px){
   
    
  .container-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 10px 0px;

  }

  .thisForm{
    width: 600px;
  }
  .container-last .logo{
    padding: 1rem 10px;
  }

  .payment-method h5{
    font-size: 16px;
    margin: 1rem 0px;
    padding: 10px opx 1px 0px;
  }
  
  .payment-method ul li{
    display: inline-block;
    padding: 9px;
  
  }
  .payment-method ul li a img{
    max-width: 25px;
    max-height: 25px;
  }

  .follow-us h5{
    font-size: 16px;
    margin: 1rem 0px;
    padding: 10px opx 1px 0px;
  }
  
  .follow-us ul li{
    display: inline-block;
    padding: 10px;
  }
  
  .follow-us ul li a img{
    width: 25px;
    height: 25px;
  }

  .support h5{
    font-size: 16px;
    margin: 1.6rem 0px 0px opx;
    padding: 3rem opx 1px 0px;
    text-align: center;
  }
  
  .support ul li{
    display: inline-block;
  padding: 9px;
    font-size: 12px;
}
.support ul li a{
  font-size: 12xp;
}
.copyright{
  font-size: 17px;
   
   }
  
@media (max-width:450px){

  .container-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 10px 0px;

  }

  .thisForm{
    width: 400px;
  }
  .container-last .logo{
    padding: 1rem 10px;
  }

  .payment-method h5{
    font-size: 16px;
    margin: 1rem 0px;
    padding: 10px opx 1px 0px;
  }
  
  .payment-method ul li{
    display: inline-block;
    padding: 9px;
  
  }
  .payment-method ul li a img{
    max-width: 25px;
    max-height: 25px;
  }

  .follow-us h5{
    font-size: 16px;
    margin: 1rem 0px;
    padding: 10px opx 1px 0px;
  }
  
  .follow-us ul li{
    display: inline-block;
    padding: 10px;
  }
  
  .follow-us ul li a img{
    width: 25px;
    height: 25px;
  }

  .support h5{
    font-size: 16px;
    margin: 1.6rem 0px 0px -3rem;
    padding: 3rem opx 1px 0px;
    text-align: center;
  }
  
  .support ul li{
    
  padding: 9px;
    font-size: 12px;
}
.support ul li a{
  font-size: 12xp;
}
.copyright{
  font-size: 17px;
}
}}